$--color-primary: #f67a17;
$--color-primary-light-95: mix(#fff, $--color-primary, 95%);
$--color-primary-dark-1: mix(#000, $--color-primary, 10%);
$--color-primary-dark-2: mix(#000, $--color-primary, 20%);
